body {
    background-color: darksalmon;

    margin: 0;
    padding: 0;
}

.lista-rosquinhas {
    flex: 1;
    display: flex;
    
    align-items: center;
    justify-content: space-around;

}

.rosquinha-item {
    background-color: white;

    border-radius: 10px;

    width: 300px;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;


}